@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Second Desarrollo</h1>
<<<<<<< HEAD
    Hello World!!!!!!!
=======
    Hello World !!
>>>>>>> e0f5aae8206d5d1830fda16abee5f6ebc5b97634
</div>
